.info-button {
    height: 2rem;
    width: 2rem;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0.3rem;
    bottom: 0;
    left: -1rem;

    background-color: var(--clr-wray);
    border: none;
    border-radius: 1rem;
}

.info-button svg {
    text-align: center;
    vertical-align: center;
    opacity: 0.5;
    width: 1.5rem;
    color: var(--clr-bray);
}

.info-button:is(:focus,:active,:hover) svg {
    opacity: 1;
}

.info-content {
    display: flex;
    justify-content: start;
    align-content: center;
    border-radius: 1rem;
    padding-block: 1rem;
    padding-inline: 1rem;
    width: 25rem;

    text-align: left;
    font-family: var(--font-dmsans);
    font-size: 1rem;
    line-height: 1.18;

    color: var(--clr-bray);
    background-color: white;
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.1);
}

.info-content .math {
    margin-left: 3rem;

    font-family: var(--font-mono);
    font-size: 1rem;
    line-height: 2rem;
}

.info-content .math-inline-two {
    font-family: var(--font-mono);
    background-color: var(--clr-wray);
    padding: 0.2rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
}

.info-content:focus {
    outline: none;
}

.info-arrow {
    fill: white;
}

