.rsa {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: clip;

    width: 45rem;
    border-radius: 2rem;
    padding: 2rem;

    background-color: white;

    transition-property: width, height;
    transition-timing-function: ease-in-out;
    transition-duration: 400ms;
    transform: translateY(-100vh);
}

.rsa[data-motion="one"] {
    animation: animate-in 2s forwards ease-in-out;
}

.step-container {
    flex-direction: column;
}

.step-container h1 {
    font-size: 2.5rem;
    font-family: var(--font-serif);

    color: var(--clr-bray);
}

.step-container .icon {
    text-shadow: 0px 0px 28px rgba(147, 61, 201, 0.35);
    color: var(--clr-purple);
    margin-left: 0.4rem;
}

.step-container .sub-text {
    max-width: 30rem;
    margin-left: 1rem;
    padding: 0.6rem;
    border-radius: 0.6rem;

    text-align: left;
    font-family: var(--font-poppins);

    color: var(--clr-bray);
    background-color: var(--clr-wray);
}

.step-container .body {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: rgb(36, 36, 36, 0.1) 1px solid;

    font-family: var(--font-dmsans);
    font-size: 1.1rem;

    color: var(--clr-bray);
}

.heading {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
}

.rsa[data-motion="one"] .heading{
    animation: animate-in-top 2.5s forwards ease-in-out;
}

.body b {
    font-family: var(--font-rubik);
    font-weight: 500;
}

.body .danger {
    border-radius: 0.5rem;
    margin-block: 0.3rem;
    padding: 0.5rem;

    font-size: 0.9rem;
    text-align: center;

    border: var(--clr-purple) 1px solid;
    background-color: var(--clr-wray);
}

.body .normal {
    position: relative;
}

.body .math {
    margin-block: 0.4rem;
    margin-left: 5rem;
    font-family: var(--font-mono);
    font-size: 1rem;
    line-height: 1.5rem;
    /*text-align: center;*/
}

.next-button {
    position: absolute;
    padding: 0.5rem;
    cursor: pointer;

    right: 2rem;
    bottom: 2rem;
    font-size: 1rem;

    border: none;
    border-radius: 0.5rem;
    color: var(--clr-wray);
    background-color: var(--clr-purple);

    transition-property: transform, border-radius, background-color, color, box-shadow;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.rsa[data-motion="one"] .next-button {
    animation: animate-in-bottom 4.5s forwards ease-in-out;
}

.next-button:is(:hover,:focus) {
    border-radius: 1rem;

    background-color: var(--clr-purple);
    color: var(--clr-wray);

    box-shadow: 0px 0px 41px 0px rgba(147, 61, 201, 0.24);
}

.next-button svg {
    width: 1.5rem;
}

@keyframes animate-in {
    40% {
        transform: translateY(-100vh) scale(0.1, 0.2);
    }
    75%{
        transform: translateY(-5vh) scale(0.1, 0.2);
    }
    100% {
        transform: translateY(0) scale(1, 1);
    }
}

@keyframes animate-in-top {
    70% {
        opacity: 0;
        transform: translateY(-10rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate-in-bottom {
    0%{
        opacity: 0;
        transform: translateY(10rem);
    }
    90% {
        opacity: 0;
        transform: translateY(10rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
