.app {
    max-height: 100vh;
    height: 100vh;
    position: relative;
    flex-direction: column;

    transition-property: height, width;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    overflow: hidden;
}


.center-box {
    /*min-width: 40rem;*/
    /*min-height: 10rem;*/
    border-radius: 2rem;

    background-color: white;

    overflow: clip;
    padding: 2rem;

    transition-property: transform, width, height;
    transition-timing-function: ease-in-out;
    transition-duration: 400ms;
}

.credits {
    position: absolute;
    bottom: 1rem;

    font-family: var(--font-rubik);
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 0.8rem;

    opacity: 0.2;
}